/* style.css */

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #5799E2;
}

h1 {
	font-family: Helvetica, sans-serif;
}

button {
	padding: 16px;
	background-color: black;
	border-style: none;
	font-family: Helvetica, sans-serif;
	color: white;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 960px;
}

#button-container {
	padding-bottom: 24px;
}

.square {
	border-style: solid;
	border-color: black;
	aspect-ratio: 1 / 1;
	flex: 1;
}