/* style.css */

body {
	display: flex;
	flex-direction: column;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 960px;
}

.square {
	border-style: solid;
	border-color: black;
	height: 55px;
	aspect-ratio: 1 / 1;
	flex: 1;
}